<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Alpha Market</title>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/authenticate.css">
</head>
<body>
    <section class="main">
        <form class="login-form">
            <h1 class="form-title">Login</h1>

            <div class="form-item">
                <label for="email" class="field">Email</label>
                <input type="text" name="email" required id="email">
            </div>
            
            <div class="form-item">
                <label for="password" class="field">Password</label>
                <input type="text" name="password" required id="password">
            </div>

            <p class="text">
                do not have account?
                <a href="/register">Register</a>
            </p>
            
            <p class="text msg"></p>
            
            <button class="btn">Login</button>
        </form>
    </section>
    <script src="/js/login.js"></script>
</body>
</html>