body {
    background-color: #f2f5f8;
}

.main {
    width: 90%;
    height: calc(100vh - 68.33px);
    margin-left: 5%;
    margin-top: 20px;
    display: flex;
    gap: 50px;
}

.cart-item-container {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.item-img {
    width: 100px;
}

.cart-item-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.left-cart-info {
    display: flex;
    gap: 15px;
    align-items: center;
}

.right-cart-info {
    display: flex;
    align-items: center;
    gap: 30x;
}

.quantity {
    font-size: 3rem;
    font-family: sans-serif;
}

.quantity-btn {
    padding: 5px;
}

.price {
    font-size: 2rem;
    font-weight: bold;
    color: green;
}

.cart-section {
    flex: 0.7;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    font-family: sans-serif;
    font-size: 2.5rem;
}

.cart-checkout {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 0.3;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    margin-top: 30px;
    height: 200px;
}

.checkout-btn {
    background-color: #ff4b2b;
}

.checkout-info {
    display: flex;
    align-items: center;
    gap: 15px;
}